*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: false;
}

body {
    height: 100%;
    overflow-x: hidden;
 }

.hero-container {
    background-color: rgb(22, 69, 100);
    overflow: false;
    height: 10cm;
    align-content: center;
    margin-bottom: -10px;
}


.description-container {
    padding: 1cm;
    background-color: rgb(0, 0, 0);
    overflow: false;
    height: auto;
    align-content: center;
}

.description-wrapper {
    background-color: rgb(0, 0, 0);
    overflow: false;
    align-content: center;
    justify-content: center;
    height: auto;

}

canvas {
    margin: auto;
    width: 10cm;
    height:10cm;
    overflow: false;

    background-color: rgb(22, 69, 100);
    align-self: center;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

banner {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    padding: 2em;
    border: 3px solid #8AC007;
}

vertical_space {
    padding-top: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    padding-bottom: 1cm;
    color: white;
    background-color: #000000;
    border: 0px
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #020000;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav h {
    margin: 1em;
    padding: 1em;
    color: rgb(121, 131, 184);
    font-size: large;
}

section {
    margin-bottom: 40px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* #scene {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.relative {
    position: relative;
}

.h-256 {
    height: 256px;
}

.w-256 {
    width: 256px;
}