body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #020000;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav h {
    margin: 1em;
    padding: 1em;
    color: rgb(121, 131, 184);
    font-size: large;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#scene {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.h-256 {
    height: 256px;
}

.w-256 {
    width: 256px;
}
